<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <remove name="WebDAV" />
      <add
        name="httpPlatformHandler"
        path="*"
        verb="*"
        modules="httpPlatformHandler"
        resourceType="Unspecified"
        requireAccess="Script" />
    </handlers>

    <httpPlatform
      processPath=".\AI_GENEPA\Scripts\python.exe"
      arguments="-m backend.run_iis_server"
      startupTimeLimit="600"
      requestTimeout="01:00:00"
      stdoutLogEnabled="true"
      stdoutLogFile=".\backend\logs\httpplatform-stdout"
      processesPerApplication="1">

      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="E:\Asoft\AI_GENEPA\AI_GENEPA_SRC" />
        <environmentVariable name="PYTHONIOENCODING" value="utf-8" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="ENABLE_SQL" value="no" />
        <environmentVariable name="AI_PROPOSE_TIMEOUT_S" value="300" />
        <environmentVariable name="OPENAI_TIMEOUT_S" value="300" />
        <environmentVariable name="GEMINI_TIMEOUT_S" value="300" />
        <environmentVariable name="OPENROUTER_TIMEOUT_S" value="300" />
      </environmentVariables>

    </httpPlatform>
    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>